.html{
    transition: width 2s,height 2s, transform 2s;
}
.html:hover{
    width: 300px;
    height: 300px;
    transform: rotate(360deg);
}
.container{
    width: 300px;
    height: 300px;
    background-color: aqua;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
@keyframes example {
    from {background-color: aqua;}
    to {background-color:red;}
  }